.container-controls {
    --height: 300px;
    height: var(--height);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.controls{
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;

}

.speakers{
    height: 100px;
    width: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-30deg);
    display: flex;
    justify-content: space-around;
}

.non-speaker{
    width: 8px;
    height: 60px;
    border-radius: 8px;
    box-shadow: -2px 4px 3px #000A  inset,
        -2px 1px 3px #FFFE;
    background: #0002;
}

.speaker{
    width: 8px;
    height: 60px;
    border-radius: 8px;
    box-shadow: -2px 4px 3px #000A  inset,
        -2px 1px 3px #FFFE;
    background: #0002;
    position: relative;
}
.speaker::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 73%;
    box-shadow: 0 0 1px #000A inset,
        0 2px 2px #FFFA;
    background: #000A;
    transform: translateY(3px);
}

.option-buttons{
    height: 65px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-15px);
}
.bottom{
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    border-bottom: 1px solid #FFF5;
    box-shadow: 0px 1px 1px #0005 inset;
    padding: 2px 6px;
    transform: translate(-15px, -12px);
}

.D-pad{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, 
    #ddd4df 15%, #eae3ec 50%, #eee6f0 85%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.axis{
    --large: 80px;
    --small: 21px;
    background: #170d16;
    position: absolute;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 0 0 3px #170d16,
        0 7px 5px #0009;
}
.axis.x{
    height: var(--small);
    width: var(--large);
    border: 2px solid #48455a;
    border-top: 3px solid #FFFE;
}
.axis.y{
    height: var(--large);
    width: var(--small);
    border: 2px solid #53525a;
    border-top: 3px solid #FFFE;
    flex-direction: column;
}
.axis.center{
    height: var(--small);
    width: var(--small);
    background: #170d16;
    position: absolute;
    border-radius: 0;
    box-shadow: 0 0 0 3px #170d16;
}
.center-circle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: conic-gradient( #d1d6dc77 0 1%, transparent 10% 35%, #DDE8F7 50%, transparent 65% 90%, #e4e9f077 99% );
}
.axis .group{
    width: var(--small);
    height: var(--small);
    display: flex;
    gap: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.axis.x::before,
.axis.x::after,
.axis.y::before,
.axis.y::after{
    content: '';
    position: absolute;
    display: block;
    background: #FFFB;
    width: 6px;
    height: 6px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    filter: drop-shadow(2px 2px 4px #000A);
}
.axis.x::after{
    --x: calc(var(--large) + 15px - 6px);
    --y: 8px;
    --rotate: -90deg;
}
.axis.x::before{
    --x: -15px;
    --y: 8px;
    --rotate: 90deg;
}
.axis::before,
.axis::after{
    transform: translate(var(--x), var(--y)) rotate(var(--rotate));
}

.axis.y::before{
    --y: -15px;
    --x: 7.5px;
    --rotate: 180deg;
}
.axis.y::after{
    --y: calc(var(--large) + 15px - 6px);
    --x: 7.5px;
    --rotate: 0deg;
}

.axis .group .band{
    width: 4px;
    height: 80%;
    background: #1d1b29;
    border-radius: 5px;
    border-left: 1px solid #fff1;
}

.axis.y .group{
    transform: rotate(90deg);
}

.buttons{
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
}

.button-group{
    width: 130px;
    height: 65px;
    border-radius: 40px;
    background-image: linear-gradient(to bottom, 
    #cec4d0 20%, #eae3ec 50%, #f5f0f6 85%);
    transform: rotate(-25deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0 25px;
}
.btn{
    --size: 43px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: radial-gradient(#700532 75%, #a20d55 90%,#EF94B2);
    box-shadow: 1px -4px 0 -3px #7c4b5b inset, 
    -3px 7px 5px -2px #1e0009, 
    1px -1px 0 2px #53182b,
    0px 2px 4px #FFFE inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .pressed{
    box-shadow: 1px -4px 0 -3px #7c4b5b inset,
    0px 2px 4px #FFFE inset;
}

.btn .name{
    font-family: "NES controller MrShrike";
    font-size: 18px;
    color: var(--letters);
    transform: translateY(290%);
}

.opt-container{
    width: 47%;
    height: 20px;
    border-radius: 30px;
    transform: rotate(-25deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 3px -3px #0005 inset, 4px -4px 3px -3px #fffc inset;
}
.btn-opt{
    width: 80%;
    height: 50%;
    border-top: 1px solid #000E;
    border-radius: 30px;
    background: linear-gradient(to bottom, #827e94 0%, #898699 50%, #747186 85%, #5e5b6f 100%);
    box-shadow: 0px 4px 7px #FFF4 inset,
        0 0 4px #0005 inset,
        -1px 2px 2px #000E;
    display: flex;
    justify-content: center;
}
.btn-opt .name{
    font-family: "NES controller MrShrike";
    color: var(--letters);
    transform: translateY(110%);
}
.phones{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: var(--gameboy-color);
    text-shadow: 0px 1px 1px #0005,
    0px -1px 1px #FFFA,
    0px -1px 1px #FFFA;
}