.container-gb{
    width: var(--gb-width);
    height: var(--gb-height);
    background-color: var(--gameboy-color);
    border-radius: 12px 12px 75px 12px;
    box-shadow: 
        0 0 15px #000A,
        0 -6px 15px #000A inset;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}