.container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.loads{
    font-size: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}