@font-face {
  font-family: 'Pretendo';
  src: url(../public/Pretendo.ttf);
}
@font-face {
  font-family: 'Futura Bold Oblique';
  src: url("../public/Futura-Bold-Oblique.otf") format('opentype');
}

:root{
  --gb-width: 380px;
  --gb-height: 625px;
  --gameboy-color: #eae3ec;
  --letters: #3c3787;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif, 'Pretendo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #524f5e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
