@font-face {
  font-family: 'Nintender';
  src: url(../public/Nintender.ttf);
}
@font-face {
  font-family: "Gill Sans Bold Italic";
  src: url(../public/Gill-Sans-Bold-Italic.otf);
}

@font-face {
  font-family: "NES controller MrShrike";
  src: url(../public/NES_Controller_MrShrike.ttf);
}

@font-face {
  font-family: "Pretendo";
  src: url(../public/Pretendo.ttf);
}

:root{
  --gb-width: 380px;
  --gb-height: 625px;
  --gameboy-color: #eae3ec;
  --letters: #3c3787;
  --screen: #747186;
  --lcd-height: 192px;
  --lcd-width: 208px;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif, 'Pretendo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #524f5e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
